.navbar {
    background-color: rgb(53, 64, 101);
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    margin-top: -100px;
    margin-bottom: 100px;

}

.navbar a {
    color: white;
}
