
body {
    /* background: rgb(231,217,163);
    background: linear-gradient(90deg, rgba(231,217,163,1) 23%, rgba(75,158,247,1) 56%, rgba(198,238,160,1) 75%, rgba(206,202,255,1) 92%, rgba(194,221,215,1) 100%); */
    /* box-sizing: border-box; */
    background-image: url('imagess.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
